## gradle (root and every subproject)
.gradle/
build/

## run dirs
/run
**/run/
**/runs/

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

# mac
.DS_Store

# npm
/node_modules
